<div class="page" id="page" {{ page_css |raw }}>
  {% if page.show_skins_menu %}
    {{ page.show_skins_menu |raw }}
  {% endif %}
  <a name="Top" id="Top"></a>
  {% if page.headline %}
    <section id="headline" class="headline">
      <div class="container">
        {{ page.headline }} 
      </div>
    </section>
  {% endif %}
  <header id="header" class="header" role="header">
    <div class="container">
      {% if logo %}
        <a id="logo" href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
          <img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
        </a>
      {% endif %}
      {% if site_name or site_slogan %}
        <div class="name-and-slogan">
          {% if title %}
            <strong class="site-name">
              <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
            </strong>
          {% else %}
            <h1 class="site-name">
              <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
            </h1>
          {% endif %}

          {% if site_slogan %}
            <div class="site-slogan">{{ site_slogan }}</div>
          {% endif %}
        </div>
     {% endif %}
     <span class="btn-close"></span>
      {{ page.header }} 
    </div>
  </header>

  {% if page.banner %}
    <section id="banner" class="banner">
      <div class="container-fluid">
          <div class="block-page-title-block">
              <h1 class="page-title">User account</h1>
          </div>
      </div>
    </section>
  {% endif %}

  <section id="main" class="main" role="main">
      <div class="container">
          <div class="block block-login-description">
              <p>
                  Welcome to Job Board. To make changes to your postings and create new ones, sign in below.
                  <br>Don't have an account yet? Post your opening and one will be created for you!
              </p>
          </div>
          <div class="block block-account">
              <div class="row">
                  <div class="content col-lg-6">
                      <div class="block block-form-login">
                          <h3 class="block-title">Login</h3>
                          {{ page.content }}
                      </div>
                  </div>

                  <div class="content col-lg-6">
                      <div class="block block-ccount-yet">
                          <h3 class="block-title">No account yet?</h3>
                          <p>Here you can register as applicant or recruiter.</p>
                          <ul class="block-menu menu-account-yet">
                              <li>
                                  <a class="btn-rounded register-as-applicant" href="/user/create/applicant">Register as Applicant</a>
                              </li>
                              <li>
                                  <a class="btn-rounded register-as-recruiter" href="/user/create/recruiter">Register as Recruiter</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
    
  {% if page.footer_left or page.footer_middle or page.footer_right %}
    <section id="footer_top" class="footer_top">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-md-4">
            {{ page.footer_left }}
          </div>
          <div class="col-sm-4 col-md-4">
            {{ page.footer_middle }}
          </div>
          <div class="col-sm-4 col-md-4">
            {{ page.footer_right }}
          </div>
        </div>
      </div>
    </section>
  {% endif %}      

  {% if page.footer %}
    <footer id="footer" class="footer" role="contentinfo">
      <div class="container">
        {{ page.footer }}
      </div>
    </footer>
  {% endif %}
</div>