<div class="container header-spacer">
<div class="row">
    
   
    
    <div class="col-md-8">
        
         <h1>{{ label }}</h1>
    <div class="metadata-top">{{ content.field_resource_type.0 }} | {{ content.field_publish_date.0 }}</div>    
    <div>{{ drupal_block("social_sharing_buttons_block") }}</div>
        {% if node.field_image.value %}
        
        <div class="resource-cover">
        <a href="{{ file_url(node.field_files.entity.uri.value) }}{{ node.field_resource_link.uri }}" target="_blank"><img class="img-fluid cover-image" src="{{ file_url(content.field_image|field_target_entity.uri.value) }}" alt="{{ content.field_image|field_raw('alt') }}"></a> 
        </div>
        {% endif %}
    
        
        {% if node.field_presentation_file.value %}
        
        <div class="presentation-window embed-responsive {{ node.field_presentation_aspect_ratio.value  }}">
            {{ content.field_presentation_file }}
        </div>    
        
        {% endif %}
        
        {% if content.body %}
        {{ content.body }}
        {% endif %}
        
        

      
            
     
        
      
    </div>
    
    <div class="col-md-4">
        
        {% if node.field_presentation_file.value %}
        
        {% set file_name = node.field_presentation_file.entity.getFilename() %}
        {% set file_label = file_name|split('.')|slice(start, length-1)|join('.') %}
        {% set file_size = node.field_presentation_file.entity.getSize() %}
        {% set file_extension = file_name|split('.')|last %}
        
        <a class="resource-button" href="{{ file_url(node.field_presentation_file.entity.uri.value) }}" target="_blank"><i class="fas fa-angle-double-down document-download-button"></i>&nbsp;&nbsp;Download File<br /><span class="file-metadata">{{ file_extension }} | {{ node.field_presentation_file.entity.filesize.value | format_bytes }}</span></a>
        
        {% endif %}
        
        
        
        {% if node.field_files.value %}
        
        {% set file_name = node.field_files.entity.getFilename() %}
        {% set file_label = file_name|split('.')|slice(start, length-1)|join('.') %}
        {% set file_size = node.field_files.entity.getSize() %}
        {% set file_extension = file_name|split('.')|last %}
        
        <a class="resource-button" href="{{ file_url(node.field_files.entity.uri.value) }}" target="_blank"><i class="fas fa-angle-double-down document-download-button"></i>&nbsp;&nbsp;Download File<br /><span class="file-metadata">{{ file_extension }} | {{ node.field_files.entity.filesize.value | format_bytes }}</span></a>
        
        {% endif %}
        
        
        {% if node.field_resource_link.value %}
        
        <a class="resource-button" href="{{ node.field_resource_link.uri }}" target="_blank"><i class="fas fa-external-link-alt document-download-button"></i>&nbsp;&nbsp;{{ node.field_resource_link.title }}<br /><span class="file-metadata">Browse website</span></span></a>
        {% endif %}
        
        {% if node.field_related_content.value %}
        
           <div class="related-links">
           <h3>Related Links</h3>
              <ul class="related-links-set">
                  {{ content.field_related_content }}
              </ul>    
           </div>  
        <hr />   
        {% endif %}
    
        
        {% if node.field_series.value %}
        
           <div class="related-links">
           <h3>Series</h3>
              <ul class="related-links-set">
                  {{ content.field_series }}
              </ul>    
           </div>    
        <hr />
        {% endif %}
        
        {% if node.field_organization.value %}
        
           <div class="related-links">
           <h3>Organizations</h3>
              <ul class="related-links-set">
                  {{ content.field_organization }}
              </ul>    
           </div>    
        <hr />
        {% endif %}
        
        {% if node.field_focus_areas.value %}
        
           <div class="related-links">
           <h3>Focus Areas</h3>
              <ul class="related-links-set">
                  {{ content.field_focus_areas }}
              </ul>    
           </div>   
        <hr />   
        {% endif %}
        
        {% if node.field_subjects.value %}
        
           <div class="related-links">
           <h3>Subjects</h3>
              <ul class="related-links-set">
                  {{ content.field_subjects }}
              </ul>    
           </div>   
        <hr />   
        {% endif %}
        
        
        {% if node.field_topics.value %}
        
           <div class="related-links">
           <h3>Topics</h3>
              <ul class="related-links-set">
                  {{ content.field_topics }}
              </ul>    
           </div>   
        <hr />   
        {% endif %}
        
        {% if node.field_sub_regions.value %}
        
           <div class="related-links">
           <h3>Sub-regions</h3>
              <ul class="related-links-set">
                  {{ content.field_sub_regions }}
              </ul>    
           </div>    
        <hr />
        {% endif %}        

        {% if node.field_countries.value %}
        
           <div class="related-links">
           <h3>Countries</h3>
              <ul class="related-links-set">
                  {{ content.field_countries }}
              </ul>    
           </div>    
        <hr />
        {% endif %}
            
    </div>




</div>
</div>

<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>