<div class="container header-spacer">

<div class="row">
    
   
    
    <div class="col-md-8">
        
         <h1>{{ label }}</h1>
    <div class="metadata-top">{{ node.type.entity.label }}  | {{ content.field_statement_date.0 }}</div>    
    <div>{{ drupal_block("social_sharing_buttons_block") }}</div>
        
        {% if content.body %}
        {{ content.body }}
        {% endif %}
        
        
    </div>
    
    <div class="col-md-4">
        
        {% if node.field_related_content.value %}
        
           <div class="related-links">
           <h3>Related Links</h3>
              <ul class="related-links-set">
                  {{ content.field_related_content }}
              </ul>    
           </div>  
        <hr />   
        {% endif %}
    
        
        {% if node.field_focus_areas.value %}
        
           <div class="related-links">
           <h3>Focus Areas</h3>
              <ul class="related-links-set">
                  {{ content.field_focus_areas }}
              </ul>    
           </div>   
        <hr />   
        {% endif %}
        
        {% if node.field_subjects.value %}
        
           <div class="related-links">
           <h3>Subjects</h3>
              <ul class="related-links-set">
                  {{ content.field_subjects }}
              </ul>    
           </div>   
        <hr />   
        {% endif %}
        
        
        {% if node.field_topics.value %}
        
           <div class="related-links">
           <h3>Topics</h3>
              <ul class="related-links-set">
                  {{ content.field_topics }}
              </ul>    
           </div>   
        <hr />   
        {% endif %} 
        
         
       
        
        
        
         
            
    </div>




</div>
</div>