
<div class="calendar-row">
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>

<h3 class="text-center">NEWS AND MEDIA</h3>
<div class="clearfix">&nbsp;</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
           {{ drupal_view('homepage_content_lists', 'listed_articles') }}
        </div>   
        <div class="col-md-8">
           {{ drupal_view('featured_homepage_content', 'featured_media') }}
        </div>
    </div>
    
    
    
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
    
</div>
</div>


<div class="article-row">
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>

<h3 class="text-center">LATEST EVENTS</h3>
<div class="clearfix">&nbsp;</div>

<div class="container">
    {{ drupal_view('featured_homepage_content', 'featured_event') }}

    
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
    
</div>
</div>



<div class="knowledge-sharing-row">
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<h3 class="text-center">KNOWLEDGE SHARING</h3>
<div class="clearfix">&nbsp;</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
           <div class="clearfix">&nbsp;</div>
            {{ drupal_view('featured_homepage_content', 'featured_elearning') }}</div>        
        <div class="col-md-4">
           <div class="clearfix">&nbsp;</div>
            {{ drupal_view('featured_homepage_content', 'featured_publications') }}
        </div>   

    </div>
    
    
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
    
</div>
</div>


