<div class="container">
    <div class="clearfix">&nbsp;</div>

    <h1 class="text-center">Developing Environmental Law Champions</h1>
    
        {{ drupal_entity('block_content', '23') }}
        {{ drupal_view('program_homepage_slideshow', 'ttt_slideshow') }}
   
    
     
</div>

<div class="clearfix">&nbsp;</div>


<div>
<div class="clearfix">&nbsp;</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{ drupal_entity('block_content', 22) }}
        </div>        
    </div>
</div>

<div class="clearfix">&nbsp;</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Featured Media</h3>
        </div>   
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="row">
        <div class="col-md-12">
           {{ drupal_view('featured_ttt_content', 'featured_videos') }}
        </div>   
    </div>
    <div class="row">
        <div class="col-md-12">
           <p class="text-center"><a class="btn btn-primary" href="/search?search_api_fulltext=&f%5B0%5D=content_type%3Amedia&f%5B1%5D=filter_by_program%3A1119" role="button">View more multimedia</a></p>
        </div>   
    </div>

<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>

    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center"><a id="featuredchampions">Featured Champions</a></h3>
        </div>   
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="row">
        <div class="col-md-12">
           {{ drupal_view('featured_ttt_content', 'featured_champions_profiles') }}
        </div>   
    </div>
     <div class="row">
        <div class="col-md-12">
           <p class="text-center"><a class="btn btn-primary" href="/search?search_api_fulltext=&f%5B0%5D=content_type%3Aprofile&f%5B1%5D=filter_by_profile_type%3A670" role="button">Browse our regional network</a></p>
        </div>   
    </div>
    
    
    
    
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>

    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center"><a id="trainingsevents">Trainings and Events</a></h3>
        </div>   
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="row">
        <div class="col-md-12">
           {{ drupal_view('featured_ttt_content', 'featured_events') }}
        </div>   
    </div>
    <div class="row">
        <div class="col-md-12">
           <p class="text-center"><a class="btn btn-primary" href="/search?search_api_fulltext=&f%5B0%5D=content_type%3Aevent&f%5B1%5D=event_type%3A1&f%5B2%5D=event_type%3A2&f%5B3%5D=filter_by_program%3A1119" role="button">View more events</a></p>
        </div>   
    </div>
    
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>

    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center"><a id="learningmultimedia">Learning Resources and Multimedia</a></h3>
        </div>   
    </div>
    
    <div class="clearfix">&nbsp;</div>
     <div class="row">
        <div class="col-md-3">
           {{ drupal_view('featured_ttt_content', 'elearning_count') }}
        </div>   
         <div class="col-md-3">
           {{ drupal_view('featured_ttt_content', 'webinars_count') }}
        </div>   
         <div class="col-md-3">
           {{ drupal_view('featured_ttt_content', 'resources_count') }}
        </div>   
         <div class="col-md-3">
           {{ drupal_view('featured_ttt_content', 'mmedia_count') }}
        </div>   
    </div>
    
    
    
    
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
    
</div>
</div>